<mat-form-field appearance="outline">
  <mat-label>{{ label | translate }}</mat-label>
  @if (icon) {
    <mat-icon matPrefix>{{ icon }}</mat-icon>
  }
  <mat-select
    [value]="value"
    [disabled]="disabled || loading"
    [required]="required"
    (selectionChange)="onSelectionChange($event.value)">
    @if (showNullOption) {
      <mat-option [value]="null">{{ nullOptionLabel | translate }}</mat-option>
    }
    @for (option of options; track option.value) {
      <mat-option [value]="option.value" [disabled]="option.disabled">{{ option.label }}</mat-option>
    }
  </mat-select>
  @if (loading) {
    <mat-spinner matSuffix diameter="20"></mat-spinner>
  }
</mat-form-field>
