<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasLogin" aria-labelledby="offcanvasLoginLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-white" id="offcanvasLoginLabel">{{ 'header.memberLogin' | translate }}</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column justify-content-center">
    <form [formGroup]="loginForm"  class="login-form">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>{{ 'header.membershipNo' | translate }}</mat-label>
        <input matInput formControlName="username" type="text">
        <mat-icon matPrefix>person</mat-icon>
        @if (f['username'].touched && f['username'].errors?.['required']) {
          <mat-error>{{ 'header.membershipNo' | translate }} is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>{{ 'header.password' | translate }}</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (f['password'].touched && f['password'].errors?.['required']) {
          <mat-error>{{ 'header.password' | translate }} is required</mat-error>
        }
        @if (f['password'].touched && f['password'].errors?.['minlength']) {
          <mat-error>Password must be at least 4 characters</mat-error>
        }
      </mat-form-field>

      <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="#" class="text-white forgot-link">{{ 'header.forgotPassword' | translate }}</a>
      </div>

      @if (loginError) {
        <div class="alert alert-danger mb-4">
          {{ loginError }}
        </div>
      }

      <button mat-flat-button type="button" (click)="onLogin()" class="w-100 login-btn" [disabled]="isLoading">
        <mat-icon [class.spin]="isLoading">{{ isLoading ? 'sync' : 'login' }}</mat-icon>
        <span>{{ isLoading ? 'Loading...' : ('header.login' | translate) }}</span>
      </button>
    </form>

    <p class="text-white mt-5">
      <mat-icon class="me-2">phone</mat-icon>
      {{ 'header.needHelp' | translate }}
      <a href="tel:010-020-0340" class="text-white">010-020-0340</a>
    </p>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#3E423D" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
  </svg>
</div>
