app-date-picker {
  display: block;
  width: 100%;
  flex: 1;

  mat-form-field {
    width: 100%;

    .mat-mdc-text-field-wrapper {
      background-color: white !important;
    }

    .mdc-text-field--outlined {
      background-color: white !important;
    }

    .mat-mdc-form-field-flex {
      background-color: white !important;
    }
  }
}

.mat-datepicker-content {
  background-color: var(--secondary-color) !important;

  .mat-calendar {
    color: var(--primary-color) !important;
  }

  .mat-calendar-header {
    color: var(--primary-color) !important;
  }

  .mat-calendar-controls .mat-mdc-icon-button {
    color: var(--primary-color) !important;
  }

  .mat-calendar-arrow {
    fill: var(--primary-color) !important;
  }

  .mat-calendar-period-button {
    color: var(--primary-color) !important;
  }

  .mat-calendar-table-header th {
    color: var(--primary-color) !important;
    opacity: 0.7;
  }

  .mat-calendar-body-cell-content {
    color: var(--primary-color) !important;
  }

  .mat-calendar-body-disabled > .mat-calendar-body-cell-content {
    opacity: 0.4;
  }

  .mat-calendar-body-selected {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: var(--primary-color) !important;
  }

  .mat-calendar-body-cell:hover .mat-calendar-body-cell-content {
    background-color: rgba(217, 169, 62, 0.2) !important;
  }

  .mat-calendar-previous-button,
  .mat-calendar-next-button {
    color: var(--primary-color) !important;
  }

  .mat-calendar-body-label {
    color: var(--primary-color) !important;
    opacity: 0.7;
  }
}
