<!-- Login Component -->
<app-login></app-login>

<!-- Navbar -->
<div class="sticky-wrapper" [class.is-sticky]="isSticky()">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="assets/images/logo.png" class="navbar-brand-image img-fluid" alt="CDR Group Logo">
        <!-- <span class="navbar-brand-text">
          {{ 'header.logo' | translate }}
          <small>{{ 'header.logoSubtitle' | translate }}</small>
        </span> -->
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeSection() === 'home'" routerLink="/" (click)="scrollToTop()">{{ 'common.home' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeSection() === 'section_2'" (click)="navigateToSection('section_2')">{{ 'common.about' | translate }}</a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeSection() === 'section_events'" (click)="navigateToSection('section_events')">{{ 'common.events' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeSection() === 'section_team'" (click)="navigateToSection('section_team')">{{ 'common.team' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeSection() === 'section_5'" (click)="navigateToSection('section_5')">{{ 'common.contactUs' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="translationService.toggleLanguage()">
              {{ translationService.getOtherLanguageName() }}
            </a>
          </li>
        </ul>

        <div class="ms-lg-3">
          @if (authService.isLoggedIn()) {
            <div class="dropdown">
              <a class="custom-btn custom-border-btn custom-btn-bg-white btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-1"></i>
                {{ authService.user()?.name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                @if (authService.isAdmin()) {
                  <li><a class="dropdown-item" routerLink="/admin"><i class="bi bi-speedometer2 me-2"></i>{{ 'admin.dashboard' | translate }}</a></li>
                  <li><hr class="dropdown-divider"></li>
                }
                <li><a class="dropdown-item" href="javascript:void(0)" (click)="onLogout()"><i class="bi bi-box-arrow-right me-2"></i>{{ 'header.logout' | translate }}</a></li>
              </ul>
            </div>
          } @else {
            <a class="custom-btn custom-border-btn custom-btn-bg-white btn" data-bs-toggle="offcanvas" href="#offcanvasLogin" role="button" aria-controls="offcanvasLogin">{{ 'header.memberLogin' | translate }}</a>
          }
        </div>
      </div>
    </div>
  </nav>
</div>
