.navbar-nav .nav-link {
  cursor: pointer;
  color: var(--primary-color) !important;
}

.navbar-user-section .dropdown-toggle,
.navbar-user-section .custom-btn {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  transition: color 0.2s ease, border-color 0.2s ease;

  &:hover {
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }
}

.navbar-user-section .dropdown-menu .dropdown-item {
  color: var(--primary-color) !important;
}
