<app-base-dialog
  title="admin.employees.linkToUser"
  saveLabel="common.link"
  [loading]="loading"
  (save)="onSubmit()"
  (cancel)="onCancel()">

  <form [formGroup]="form" class="dialog-form">
    <div class="form-section section-purple">
      <div class="section-header">
        <div class="section-icon">
          <mat-icon>person_add</mat-icon>
        </div>
        <div class="section-title">{{ 'admin.employees.selectUser' | translate }}</div>
      </div>

      <div class="section-content">
        <div class="employee-info">
          <span class="label">{{ 'admin.employees.employee' | translate }}:</span>
          <span class="value">{{ isArabic ? employee.fullNameAr : employee.fullNameEn }}</span>
        </div>

        <app-async-select
          formControlName="userId"
          label="admin.employees.user"
          icon="person"
          nullOptionLabel="admin.employees.noUser"
          [dataSource$]="usersSource$"
          [optionMapper]="userMapper"
          [filterFn]="activeUserFilter"
          [resetOnDataSourceChange]="false">
        </app-async-select>
      </div>
    </div>
  </form>

</app-base-dialog>
