<section class="hero-section d-flex justify-content-center align-items-center" [class.hero-50]="isSmall" id="section_1">
  <div class="section-overlay"></div>

  

  <div class="container">
    <div class="row">
      @if (!isSmall) {
        <div class="col-lg-6 col-12">
          <h1 class="text-white mb-2">{{ 'hero.title' | translate }}</h1>
          <p class="mb-4 pb-2" style="color: #D9A93E; font-size: 1.1rem;">{{ 'hero.subtitle' | translate }}</p>

          @if (showMore) {
            <p class="hero-description text-white">{{ 'hero.description' | translate }}</p>
          }

          <div class="custom-btn-group d-flex align-items-center gap-4">
            <a href="#section_2" class="link smoothscroll">{{ 'hero.ourStory' | translate }}</a>
            <a class="custom-btn custom-border-btn smoothscroll" href="javascript:void(0)" (click)="toggleMore()">
              {{ (showMore ? 'hero.showLess' : 'hero.becomeMember') | translate }}
            </a>
          </div>
        </div>
      } @else {
        <div class="col-12 text-center">
          <h1 class="text-white">{{ title | translate }}</h1>
        </div>
      }
    </div>
  </div>

</section>
