<section class="hero-section d-flex justify-content-center align-items-center" [class.hero-50]="isSmall" id="section_1">
  <div class="section-overlay"></div>

  

  <div class="container">
    <div class="row">
      @if (!isSmall) {
        <div class="col-lg-6 col-12">
          <h1 class="text-white mb-4 pb-2 cd-headline rotate-1">{{ 'hero.welcomeTo' | translate }}
            <span class="cd-words-wrapper">
              <b [class.is-visible]="isVisible" [class.is-hidden]="!isVisible">{{ currentWord | translate }}</b>
            </span>
            {{ 'hero.golfClub' | translate }}
          </h1>

          @if (showMore) {
            <p class="hero-description text-white">{{ 'hero.description' | translate }}</p>
          }

          <div class="custom-btn-group">
            <a href="#section_2" class="link smoothscroll me-4">{{ 'hero.ourStory' | translate }}</a>
            <a class="custom-btn custom-border-btn smoothscroll" href="javascript:void(0)" (click)="toggleMore()">
              {{ (showMore ? 'hero.showLess' : 'hero.becomeMember') | translate }}
            </a>
          </div>
        </div>
      } @else {
        <div class="col-12 text-center">
          <h1 class="text-white">{{ title | translate }}</h1>
        </div>
      }
    </div>
  </div>

</section>
