<h2 mat-dialog-title>{{ title | translate }}</h2>

<mat-dialog-content>
  <ng-content></ng-content>
</mat-dialog-content>

@if (showActions) {
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" [disabled]="loading">
      {{ cancelLabel | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="saveDisabled || loading">
      @if (loading) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else {
        {{ saveLabel | translate }}
      }
    </button>
  </mat-dialog-actions>
}
