app-form-field {
  display: block;
  width: 100%;

  .mdc-text-field--outlined {
    padding-inline: 16px;
  }

  .input-dir-rtl {
    text-align: right !important;
  }

  .input-dir-ltr {
    text-align: left !important;
  }

  .placeholder-ltr::placeholder {
    direction: ltr;
    text-align: left;
    unicode-bidi: embed;
  }

  .placeholder-rtl::placeholder {
    direction: rtl;
    text-align: right;
    unicode-bidi: embed;
  }
}
