app-form-field {
  display: block;
  width: 100%;

  .mdc-text-field--outlined {
    padding-inline: 16px;
  }

  .color-swatch {
    width: 32px;
    height: 32px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;

    &::-webkit-color-swatch-wrapper {
      padding: 2px;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: 4px;
    }
  }
}
