<app-hero [company]="selectedCompany"></app-hero>

<div class="home-sections">
  <app-about [company]="selectedCompany"></app-about>
  <app-branches [companyId]="selectedCompanyId"></app-branches>
  <app-distinguishes [companyId]="selectedCompanyId"></app-distinguishes>
  <app-distribution-marketings [companyId]="selectedCompanyId"></app-distribution-marketings>
  <app-success-reasons [companyId]="selectedCompanyId"></app-success-reasons>
  <app-pre-contract-studies [companyId]="selectedCompanyId"></app-pre-contract-studies>
  <app-geographic-expansions [companyId]="selectedCompanyId"></app-geographic-expansions>
  <app-partnership-franchise-mechanisms [companyId]="selectedCompanyId"></app-partnership-franchise-mechanisms>

<!-- @if (companies.length > 1) {
  <div class="company-filter-section">
    <div class="container">
      <div class="company-filter">
        @for (company of companies; track company.id) {
          <button
            class="company-filter-btn"
            [class.active]="selectedCompanyId === company.id"
            (click)="onCompanyChange(company.id)">
            {{ getCompanyName(company) }}
          </button>
        }
      </div>
    </div>
  </div>
} -->

  <app-forms [companyId]="selectedCompanyId"></app-forms>
  <app-events [companyId]="selectedCompanyId"></app-events>
  <app-team [companyId]="selectedCompanyId"></app-team>
  <!-- <app-reviews-display [companyId]="selectedCompany?.id"></app-reviews-display> -->
  <app-contact-review [companyId]="selectedCompany?.id"></app-contact-review>
</div>